<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head.ejs') %>
</head>
<body>
<%- include('../partials/nav.ejs') %>


    <h1>Welcome, <%= name %></h1>
    <% if (things.length > 0) { %>
        <% things.forEach(thing => { %>
            <h3><%= thing.test %></h3>
        <% }) %>
    <% } else { %>
        <h3>Nothing to Display</h3>
    <% } %>


<%- include('../partials/footer.ejs') %>
</body>
</html>